{% load static %}

<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="utf-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    <title>おみくじ</title>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">
        Omikuji
      </a>
    </nav>

    <div class="container-fluid">
      <div class="jumbotron">
        <h1>Check today's fortune!</h1>
      </div>
      
      <h4>{{students.count}} today's fortune</h4>

      {% for student in students %}
      <div class="card mb-3">
        <div class="card-header">{{student.student_id}}</div>
        <div class="card-body">
          <h5>{{student.nickname}}</h5>
          <p class="card-text">{{student.message}}</p>
        </div>
      </div>
      {% endfor %}

      <a class="btn btn-danger" href="{% url 'reset' %}">Reset</a>

    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
      integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
  </body>

</html>